@model IList<FastFood.Core.ViewModels.Employees.RegisterEmployeeViewModel>

@{
    ViewData["Title"] = "Регистрация служител";
}
<h1 class="text-center">Регистрация на служител</h1>
<hr class="bg-secondary half-width" />
<form class="mx-auto half-width" asp-controller="Employees" asp-action="Register" method="post">
    <div class="form-group">
        <label for="name">Име</label>
        <input type="text" class="form-control" id="name" placeholder="Въведете име на служителя..." name="name">
    </div>
    <div class="form-group">
        <label for="age">Години</label>
        <input type="number" step="1" min="18" class="form-control" id="age" placeholder="Въведете години на служителя..." name="age">
    </div>
    <div class="form-group">
        <label for="position">Длъжност №</label>
        <select id="position" class="form-control" name="PositionId">
            @foreach (var position in Model)
            {
            <option value="@position.PositionId">@position.PositionId</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="address">Адрес</label>
        <input type="text" class="form-control" id="address" placeholder="Въведете адрес на служителя..." name="address" />
    </div>
    <hr class="bg-secondary half-width" />
    <div class="button-holder d-flex justify-content-center">
        <button type="submit" class="btn-success" >Регистрирай служител</button>
    </div>
</form>