@model IList<FastFood.Core.ViewModels.Items.ItemsAllViewModels>

@{
    ViewData["Title"] = "Продукти";
}
<h1 class="text-center">Продукти</h1>
<hr class="hr-2" />
<table class="table mx-auto">
    <thead>
        <tr class="row">
            <th class="col-md-1">#</th>
            <th class="col-md-2">Име</th>
            <th class="col-md-2">Цена</th>
            <th class="col-md-2">Категория</th>
        </tr>
    </thead>
    <tbody>
        @for(var i = 0; i < Model.Count(); i++)
    {
        <tr class="row">
            <th class="col-md-1">@i</th>
            <td class="col-md-2">@Model[i].Name</td>
            <td class="col-md-2">@Model[i].Price</td>
            <td class="col-md-2">@Model[i].Category</td>
        </tr>
    }
    </tbody>
</table>